clincal_data_300523.xlsx
/.idea/genomed_research.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/venv/
/.idea/shelf/Uncommitted_changes_before_Update_at_9_10_23_10_38__Changes_.xml
/data/PET_resized_to_ct.nii
/data/spine_resized_to_pet.nii
/data/ct_resized_to_pet.nii
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/data/spine_PET.nii
/data/close_spine_iter=3.nii.gz
/data/show_results_n=3.nii.gz
/data/pet_compatible.nii
/data/spine_compatible.nii
/data/spine_compatible_1.nii
/data/CT_Bones_V1_CT_0000.nii.gz
/data/binarized_bone.nii.gz
/data/test_PET/
