clincal_data_300523.xlsx
/.idea/genomed_research.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/venv/
/segmentation_processing/data/test_PET/MPC_2_20110413/
/.idea/shelf/Uncommitted_changes_before_Update_at_9_10_23_10_38__Changes_.xml
/segmentation_processing/data/PET_resized_to_ct.nii
/segmentation_processing/data/spine_resized_to_pet.nii
/segmentation_processing/data/ct_resized_to_pet.nii
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/segmentation_processing/data/spine_PET.nii
/segmentation_processing/data/close_spine_iter=3.nii.gz
/segmentation_processing/data/show_results_n=3.nii.gz
